<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>转账信息</title>
    <style type="text/css">
        table {
            width: 300px;
            border-collapse: collapse;
        }

        h3 {
            text-align: center;
        }

        div {
            margin: 0 auto;
            width: 300px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<body>
<div>
    <h3>转账信息</h3>
    <form action="transfer.do" method="post" onsubmit="return false;">
        <table border="1">
            <tr><input type="hidden" name="tid" value="1"></tr>
            <tr>
                <th>姓名</th>
                <td><input type="text" name="name" /></td>
            </tr>
            <tr>
                <th>账号</th>
                <td><input type="text" name="uid" /></td>
            </tr>
            <tr>
                <th>转账金额</th>
                <td><input type="text" name="subtract" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="提交" />&nbsp;
                    <input type="reset" value="重置" /></td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript">
    $("form").submit(function() {
        $.ajax({
            type:"get",
            url:"transfer.do",
            data:$("form").serialize(),
            dataType:"json",
            success:function(data){
                if (data.code == 0){
                    alert(data.msg);
                } else {
                    alert(data.msg);
                }
                // $('form').find('input').each(function (index, item) {
                //     $(item).val('')
                // })
            },error:function () {
                alert("ajax异常")
            }
        });
        return false;
    })

</script>

</body>

</html>